DEVELOPMENT_TEAM = 52V86X2HKH

MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 3

PRODUCT_BUNDLE_IDENTIFIER = com.github.avgx.PathOfTheGiants.app
BUNDLE_DISPLAY_NAME = Путь великанов

CODE_SIGN_IDENTITY = 3F320ED04DB2E510DF895A42A2ACE788A26DFEE3
PROVISIONING_PROFILE_SPECIFIER = 674a6be3-617f-4dab-bce4-a857446cd8db
